<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/e5a252b0d1ceae9c5a7ee8cea147ce6f-removebg-preview.png">
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="login-box">
    <h2>Login</h2>
    <form action="/login" method="post">
      <div class="user-box">
        <input type="text" name="username" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Password</label>
      </div>
      <button type="submit" href="">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
    <p>Don't have an account? <a href="/">Sign Up</a></p>
  </div>
</body>
</html>